<div *ngIf="hero; else notFound" class="relative bg-white overflow-hidden">
  <div class="max-w-7xl mx-auto h-60vh">
    <h1 class="text-2xl">Nombre <strong class="text-6xl block">{{hero.name}}</strong></h1>
    <p class="py-6">
      <span class="block text-2xl">Descripción</span>
      <span class="text-4xl">{{hero.description}}</span>
    </p>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
    [src]="hero.image | img" [alt]="hero.name + ' imagen'">
  </div>
</div>

<ng-template #notFound>
  <h1>Super héroe no encontrado 😢</h1>
</ng-template>

<button type="button" routerLink="/"
class="mt-5 bg-blue-500 px-4 py-2 text-xs font-semibold tracking-wider text-white rounded hover:bg-blue-600 focus:outline-none">
  Volver
</button>
