<div class="overflow-y-auto p-4 flex justify-center">
    <input type="search"
    class="serach-input bg-purple-white shadow rounded border-0 p-3 w-full md:w-9/12 focus:outline-none"
    placeholder="Buscar super héroe por nombre"
    #sInput
    (input)="search(sInput.value)">
    <button (click)="toggleFormModal()" class="add-btn bg-blue-500 px-4 text-sm font-semibold tracking-wider text-white rounded hover:bg-blue-600">
      Añadir super héroe
    </button>
</div>


<div *ngIf="heros?.length > 0; else noHeros">
  <app-heros-grid
  [heros]="heros"
  (edit)="edit($event)"
  (remove)="remove($event)"></app-heros-grid>
</div>
<ng-template #noHeros>
  <h1>No hay super héroes aún, prueba a añadir uno!</h1>
</ng-template>



<app-hero-form *ngIf="showFormModal"
[hero]="toUpdateHero"
(create)="create($event)"
(update)="update($event)"
(close)="closeFormModal()"></app-hero-form>
