<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
      <!-- COLUMN -->
      <div *ngFor="let hero of heros | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
      class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 xl:w-1/4">
          <!-- CARD -->
          <article class="overflow-hidden rounded-lg shadow-lg">
            <!-- IMAGE -->
            <img [alt]="hero.name + ' Imagen'" class="block h-auto w-full" [src]="hero.image | img">
            <!-- /IMAGE -->
            <!-- BODY -->
            <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                <h1 class="text-lg">{{hero.name}}</h1>
                <p class="text-grey-darker text-sm">
                    {{hero.description | slice:0:20}}
                    {{hero.description.length > 20 ? '...' : ''}}
                </p>
            </header>
            <footer class="flex items-center justify-between leading-none p-2 md:p-4">
              <button [routerLink]="['/hero', hero.id]" class="bg-blue-500 px-4 py-2 text-xs font-semibold tracking-wider text-white rounded hover:bg-blue-600 focus:outline-none">
                Ver
              </button>
              <button (click)="edit.emit(hero)"
              class="bg-yellow-500 px-4 py-2 text-xs font-semibold tracking-wider text-white rounded hover:bg-yellow-600 focus:outline-none">
                Actualizar
              </button>
              <button (click)="remove.emit(hero)"
              class="bg-red-500 px-4 py-2 text-xs font-semibold tracking-wider text-white rounded hover:bg-red-600 focus:outline-none">
                Eliminar
              </button>
            </footer>
            <!-- /BODY -->
          </article>
          <!-- /CARD -->
      </div>
      <!-- /COLUMN -->
  </div>
  <div class="mt-5">
    <app-pagination
    [length]="heros.length"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (changePage)="this.currentPage = $event"></app-pagination>
  </div>
</div>
